.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #00a99d; */
  background-color: #cdcdcd;
  padding: 20px 60px;
}

.logoSection {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

/* .logoText {
  color: white;
  font-size: 24px;
  font-weight: bold;
} */

.menuItems {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItems li {
  margin: 0 15px;
  position: relative; /* To position dropdown content */
}

.menuItems a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.menuItems a:hover {
  background-color: white;
  color: #00a99d;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent li {
  margin: 0;
}

.dropdownContent a {
  color: #00a99d;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}
